<h4>Add Recipe</h4>
<div class="alert alert-success" role="alert" *ngIf="showSuccess">
    {{successMessage}}
</div>
<form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="recipeName" class="form-control">
        <small class="form-text text-muted">Descriptive name for your recipe</small>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control">
        <small class="form-text text-muted">Description for your recipe</small>
    </div>
    <div class="form-group">
        <div formArrayName="ingredients">
            <div class="row">
                <div class="col-sm-6"><label>Ingredients</label></div>
                <div class="col-sm-6"><label>Quantities</label></div>
            </div>
            <small class="form-text text-muted">List of ingredients and quantities</small>
            <div *ngFor="let ingredient of ingredients.controls; index as iidx">
                <div class="row">
                    <div class="col-sm-6">
                        <select [formControlName]="iidx" class="form-control">
                            <option *ngFor="let myIngredient of ingredientsList" [ngValue]="myIngredient.upc">{{myIngredient.description}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" [formControl]="quantities(iidx)" class="form-control">
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <br/>
    </div>
    <input type="button" value="Add Ingredient" class="btn btn-secondary" (click)="addIngredientInput()" style="margin-right: 5px;">
    <input type="button" value="Remove Ingredient" class="btn btn-secondary" (click)="removeIngredient()">
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Add</button>
    <div class="spinner-border text-primary" role="status" *ngIf="spinnerEnabled"></div>
</form>