<h4>Order Recipe</h4>
<form [formGroup]="recipeForm" (ngSubmit)="orderRecipe()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="recipeName" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" formControlName="description" class="form-control" readonly>
    </div>
    <div class="form-group">
        <div formArrayName="ingredients">
            <div class="row">
                <div class="col-sm-5"><label>Ingredients</label></div>
                <div class="col-sm-5"><label>Quantities</label></div>
            </div>
            <div *ngFor="let ingredient of ingredients.controls; index as iidx">
                <div class="row">
                    <div class="col-sm-5"><input type="text" [formControlName]="iidx" class="form-control" readonly></div>
                    <div class="col-sm-5"><input type="text" [formControl]="quantities(iidx)" class="form-control"></div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger" (click)="removeItemAt(iidx)">
                            <i class="fa fa-ban"></i>
                        </button>
                    </div>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <button type="submit" class="btn btn-primary">Order</button>
    <div class="spinner-border text-primary" role="status" *ngIf="spinnerEnabled"></div>
</form>