<input type="button" value="Add Ingredients to Cart" (click)="submitSavedIngredients()" class="btn btn-primary" style="margin-right: 5px;"/>
<input type="button" value="Remove Ingredients Cache" (click)="deleteSavedIngredients()" class="btn btn-primary"/>
<div class="spinner-border text-primary" role="status" *ngIf="spinnerEnabled"></div>
<div class="alert alert-success" role="alert" *ngIf="showSuccess">
  {{successMessage}}
</div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-3" *ngFor="let recipe of recipes">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{recipe.recipeName}}</h5>
              <p class="card-text">{{recipe.description}}</p>
              <input type="text" class="btn btn-primary" (click)="orderRecipe(recipe._id)" value="Order">
            </div>
          </div>
          <br/>
    </div>
</div>